venv/
__pycache__/
.pytest_cache/

# temporarily gitignore dataset files fetched from the internet
data/

# ignore logs
log/
LOGGING_CONFIG.yaml

# ignore generated test reports
htmlcov/
.coverage
.DS_Store